# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Data
data/raw/
data/processed/
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/
!models/.gitkeep

# MLflow
mlruns/

# Jupyter
.ipynb_checkpoints/

# IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
